winget install --id Microsoft.PowerShell.Preview --source winget
winget install --id JanDeDobbeleer.OhMyPosh --source winget
winget install --id Discord.Discord --source winget
winget install --id Microsoft.VisualStudioCode.Insiders --source winget
winget install -e --id Kubernetes.kubectl --source winget
winget install --id Helm.Helm --source winget
winget install --id Derailed.k9s --source winget
winget install --id Axosoft.GitKraken --source winget
winget install --id Microsoft.PowerToys --source winget
winget install --exact --id Microsoft.AzureCLI
winget install --id GitHub.cli
